.aside {
  width: 100%;
  &-banner-slidable {
    display: flex;
  }
  &-banner-img {
    width: 100%;
    padding: 80px 0px 0px 0px;
  }
  &-carousel {
    display: flex;
    padding: 30px 17px;
    justify-content: space-between;
    overflow: auto;
    &-img {
      height: 60px;
      border-left: 1px $grey-light-1 solid;
    }
  }
  @media (min-width: 992px) {
    &-banner-img {
      padding: 90px 0px 0px 0px;
    }
  }
}

.separator-banner {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.aside-carousel::-webkit-scrollbar {
  height: 3px;
} 
  