.aside {
  width: 100%;
  height: 510px;
  &-banner-slidable {
    display: flex;
  }
  &-banner-img {
    width: 100%;
  }
  &-carousel {
    display: flex;
    padding: 30px 17px;
    justify-content: space-between;
    &-img {
      height: 60px;
      border-left: 1px $grey-light-1 solid;
    }
  }
}

.separator-banner {
  width: 100%;
}