.signika {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
}

.d {
  &-none{
    display: none;
  }
  &-block{
    display: block;
  }
  &-flex{
    display: flex;
  }
  
  @media (min-width: 576px) {
    &-sm {
      &-none{
        display: none;
      }
      &-block{
        display: block;
      }
      &-flex{
        display: flex;
      }
    }
  }

  @media (min-width: 768px) {
    &-md {
      &-none{
        display: none;
      }
      &-block{
        display: block;
      }
      &-flex{
        display: flex;
      }
    }
  }

  @media (min-width: 992px) {
    &-lg {
      &-none{
        display: none;
      }
      &-block{
        display: block;
      }
      &-flex{
        display: flex;
      }
    }
  }

  @media (min-width: 1200px) {
    &-xl {
      &-none{
        display: none;
      }
      &-block{
        display: block;
      }
      &-flex{
        display: flex;
      }
    }
  }
}