.product {
  &-picture {
    width: 100%;
    border-radius: 12px;
    padding: 5px 0px 20px 0px;
  }

  &-image {
    border: 1px solid $grey-border ;
    border-radius: 10px;
    margin: 5%;
  }

  &-box {
    border: 1px solid $grey-border ;
    border-radius: 10px;
  }

  &-title {
    text-align: center;
    margin: 0px 0px 40px 0px;
  }

  &-prize {
    text-align: center;
    color: $primary;
    font-weight: bolder;
    margin: 10px;
  }

  &-quantity {
    display: flex;
    justify-content: center;
    padding: 15px;

    &-input {
      width: 40px;
      border: none;
      text-align: center;
      font-weight: bolder;
      font-size: 18px;
    }

    &-button {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid #d0d0d0;
      background-color: white;
      font-weight: bolder;
    }
  }

  &-buy {
    background-color: $accent-light-1;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0px auto 16px;
    
    &-shopcar {
      color: white;
      padding: 5px 0px 0px 0px;
    }
  }

  @media (min-width: 768px) {
    &-flexbox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }

    &-quantity {
      justify-content: center;
      padding: 10px 10px 25px 10px;
    }

    &-quantity-button {
      height: 30px;
      width: 30px;
    }

    &-quantity-input {
      font-size: 16px;
    }

    &-buy {
      width: 55px;
      margin: 0px auto 16px;
    }

    &-buy-button {
      width: 90%;
    }

    &-box {
      height: 415px;
    }

    &-picture {
      max-height: 190px;
      max-width: 190px;
    }
  }
}
.buy-button {
  border: none; 
  background-color: $accent-light-1;
  padding: 8px 0px 4px 0px;
}

.weight {
  &-carousel{
    display: flex;
    justify-content: center;
  }

  &-button {
    height: 30px;
    width: 90px;
    border: 1.5px solid $primary;
    background-color: #e0f0fb;
    font-weight: bolder;
    border-radius: 2px;
  }
}
.main {
  &-carousel {
    display: flex;
    overflow: auto;
    column-gap: 20px;
  }

  &-title {
    font-size: 25px;
    text-align: left;
    font-weight: bolder;
    color: $grey;
    margin: 20px 10px 15px 10px;
  }

  @media (min-width: 1200px) {
    &-carousel {
      justify-content: center;
    }

    &-title {
      text-align: center;
      font-size: 35px;
    }
  }
}

.main-carousel::-webkit-scrollbar {
  height: 3px;
}

.main-carousel::-webkit-scrollbar-track {
  color: $grey-light-1;
}



    
  