* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main {
  padding: 0px 15px;
}

input:focus-visible {
  outline: 1.5px solid #3f7a82;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.header-menu {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00b2bc;
}

.header-logo {
  margin: 0px 10px;
  height: 30px;
  width: 120px;
}

.header-location {
  padding: 4px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3f7a82;
}

.header-location-title {
  font-size: 15px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .header-lapels {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .header-lapel {
    height: 40px;
    width: 18vw;
    background-color: #ece768;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
  }
}

.material-icons.md-14 {
  font-size: 12px;
  margin: 0px 5px;
}

.material-icons.md-35 {
  font-size: 30px;
  color: white;
}

.aside {
  width: 100%;
}

.aside-banner-slidable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-banner-img {
  width: 100%;
  padding: 80px 0px 0px 0px;
}

.aside-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.aside-carousel-img {
  height: 60px;
  border-left: 1px #9d9d9d solid;
}

.separator-banner {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-data-title {
  color: #ece768;
  font-weight: bolder;
  text-align: center;
  padding: 30px 0px;
}

.footer-suscribe-container {
  background-color: #00b2bc;
  padding: 15px;
  margin-top: 30px;
}

.footer-suscribe-buttonscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-suscribe-button {
  width: 110px;
  height: 45px;
  color: #00b2bc;
  background-color: #ece768;
  border-radius: 0px 5px 5px 0px;
  font-weight: bolder;
  border: none;
  font-size: initial;
}

.footer-suscribe-email {
  height: 45px;
  width: 210px;
  border-radius: 5px 0px 0px 5px;
  border: #dee2e6 1.5px solid;
  font-weight: bolder;
  color: #4c4c4c;
  font-size: 17px;
  padding: 5px;
}

.footer-suscribe-text {
  text-align: center;
  font-weight: bolder;
  color: white;
  margin-bottom: 10px;
  margin-top: 16px;
  font-size: 16px;
}

.footer-data-container {
  background-color: #505050;
}

.footer-data-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-data-content {
  color: white;
  text-align: center;
  margin: 3px 0px 30px 0px;
  font-weight: bolder;
}

.footer-rights-text {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: WHITE;
  font-size: 9px;
  font-weight: bold;
}

.footer-link {
  color: white;
  margin: 0px 2px;
}

.footer-hr {
  margin: 0px 5%;
}

.footer-security {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.footer-security-img {
  max-height: 60px;
  padding: 2px 8px;
}

.footer-firm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0px 20px 0px;
}

.data-name {
  font-size: 16px;
  color: white;
  font-weight: bolder;
}

.material-icons.md-20 {
  font-size: 16px;
  color: white;
  padding: 0px 2px;
}

.product-picture {
  width: 100%;
  border-radius: 12px;
  padding: 5px 0px 20px 0px;
}

.product-image {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  margin: 5%;
}

.product-box {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.product-title {
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.product-prize {
  text-align: center;
  color: #00b2bc;
  font-weight: bolder;
  margin: 10px;
}

.product-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.product-quantity-input {
  width: 40px;
  border: none;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}

.product-quantity-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #d0d0d0;
  background-color: white;
  font-weight: bolder;
}

.product-buy {
  background-color: #FF9800;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0px auto 16px;
}

.product-buy-shopcar {
  color: white;
  padding: 5px 0px 0px 0px;
}

@media (min-width: 768px) {
  .product-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .product-quantity {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 10px 25px 10px;
  }
  .product-quantity-button {
    height: 30px;
    width: 30px;
  }
  .product-quantity-input {
    font-size: 16px;
  }
  .product-buy {
    width: 55px;
    margin: 0px auto 16px;
  }
  .product-buy-button {
    width: 90%;
  }
  .product-box {
    height: 415px;
  }
  .product-picture {
    max-height: 190px;
    max-width: 190px;
  }
}

.buy-button {
  border: none;
  background-color: #FF9800;
  padding: 8px 0px 4px 0px;
}

.weight-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weight-button {
  height: 30px;
  width: 90px;
  border: 1.5px solid #00b2bc;
  background-color: #e0f0fb;
  font-weight: bolder;
  border-radius: 2px;
}

.main-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.main-title {
  font-size: 25px;
  text-align: left;
  font-weight: bolder;
  color: #505050;
  margin: 20px 10px 15px 10px;
}

.signika {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */